<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html lang="en">
    <title>home page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    .btn-edit {
        background-color: greenyellow;
        border: none;
        cursor: pointer;
        width: 50px;
        height: 30px;
        color: black;
    }

    .btn-delete {
        background-color: rgb(245, 0, 0);
        border: none;
        cursor: pointer;
        width: 60px;
        height: 30px;
        color: black;
    }
</style>

<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/create.ejs">create user</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
    </ul>
    <table style="width:100%">
        <tr>
            <th>email</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>address</th>
            <th>actions</th>
        </tr>
        <% for(var i=0; i < datatable.length; i++) { %>
            <tr>
                <td>
                    <%= datatable[i].email %>
                </td>
                <td>
                    <%= datatable[i].firstname %>
                </td>
                <td>
                    <%= datatable[i].lastname %>
                </td>
                <td>
                    <%= datatable[i].address %>
                </td>
                <td>
                    <a href="/update?id=<%= datatable[i].id %>" class="btn-edit">edit</a>
                    <a href="/delete-crud?id=<%= datatable[i].id %>" class="btn-delete">delete</a>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>